<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title>Minigo Game Listing</title>
  </head>
  <body>

    <h1>Games for {{model}}</h1>

    <hr>

    <table>
    <thead>
      <th>Name</th>
      <th>Clean</th>
      <th>Full</th>
    </thead>
    <tbody>
      {% for f in files[1:] %}
      <tr>
        <td>{{ f.split('/')[-1] }}</td>
        <td><a href="{{ url_for('game_view', filename=f) }}"> SGF View </a></td>
      </tr>
      {% endfor %}
    </tbody>

    </table>

  </body>
</html>
